name: build multi-arch images

on: { push: { branches: ["master"] }, workflow_dispatch: {} }

jobs:
  build:
    runs-on: "ubuntu-latest"
    continue-on-error: ${{ matrix.fail-ok }}
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        platform: ["linux/amd64", "linux/arm64"]
        fail-ok: [false]
        include: [{ platform: "linux/arm/v7", fail-ok: true }]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        if: ${{ runner.os == 'Linux' }}
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      - name: "${{ matrix.platform }} build and push"
        continue-on-error: ${{ matrix.fail-ok }}
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          context: .
          file: ./demo/Dockerfile
          tags: |
            benleb/automoli:latest
            benleb/automoli:0.11.3
            ghcr.io/benleb/ad-automoli:latest
            ghcr.io/benleb/ad-automoli:0.11.3
          platforms: ${{ matrix.platform }}
          build-args: |
            APPDAEMON_VERSION=4.0.6

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
        continue-on-error: ${{ matrix.fail-ok }}
